{% extends "base.html" %}

{% block title %}Fortinet - Sistema de Redes{% endblock %}

{% block content %}
<div class="container">
    <h1>Fortinet</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="vpn-tab" data-bs-toggle="tab" data-bs-target="#vpn" type="button" role="tab" aria-controls="vpn" aria-selected="true">Verificação de VPN</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="nat-tab" data-bs-toggle="tab" data-bs-target="#nat" type="button" role="tab" aria-controls="nat" aria-selected="false">Verificação de Nat</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pacotes-tab" data-bs-toggle="tab" data-bs-target="#pacotes" type="button" role="tab" aria-controls="pacotes" aria-selected="false">Captura de Pacotes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="rota-tab" data-bs-toggle="tab" data-bs-target="#rota" type="button" role="tab" aria-controls="rota" aria-selected="false">Análise de Rota</button>
        </li>
    </ul>
    <div class="tab-content mt-3" id="myTabContent">
        <!-- Verificação VPN -->
        <div class="tab-pane fade show active" id="vpn" role="tabpanel" aria-labelledby="vpn-tab">
            <form method="POST">
                <div class="mb-3">
                    <label for="nome_vpn" class="form-label">Nome da VPN</label>
                    <input type="text" class="form-control" id="nome_vpn" name="nome_vpn" required>
                </div>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>
        <!-- Verificação NAT -->
        <div class="tab-pane fade" id="nat" role="tabpanel" aria-labelledby="nat-tab">
            <form method="POST">
                <div class="mb-3">
                    <label for="nome_nat" class="form-label">Nome do NAT</label>
                    <input type="text" class="form-control" id="nome_nat" name="nome_nat" required>
                </div>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>
        <!-- Captura de Pacotes -->
        <div class="tab-pane fade" id="pacotes" role="tabpanel" aria-labelledby="pacotes-tab">
            <form method="POST">
                <div class="mb-3">
                    <label for="origem" class="form-label">Origem</label>
                    <input type="text" class="form-control" id="origem" name="origem" pattern="\d{1,3}(\.\d{1,3}){3}" required placeholder="Exemplo: 127.0.0.1">
                </div>
                <div class="mb-3">
                    <label for="destino" class="form-label">Destino</label>
                    <input type="text" class="form-control" id="destino" name="destino" pattern="\d{1,3}(\.\d{1,3}){3}" required placeholder="Exemplo: 127.0.0.1">
                </div>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>
        <!-- Análise de Rota -->
        <div class="tab-pane fade" id="rota" role="tabpanel" aria-labelledby="rota-tab">
            <form method="POST">
                <div class="mb-3">
                    <label for="ip_rota" class="form-label">IP</label>
                    <input type="text" class="form-control" id="ip_rota" name="ip_rota" pattern="\d{1,3}(\.\d{1,3}){3}" required placeholder="Exemplo: 127.0.0.1">
                </div>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
